[submodule "shell/zsh/themes/pure"]
	path = shell/zsh/themes/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "shell/zsh/themes/wegoshell"]
	path = shell/zsh/themes/wegoshell
	url = https://github.com/wegotoeleven/wegoshell.git
[submodule "private"]
	path = private
	url = ssh://git@github.com/wegotoeleven/dotfiles_private
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "shell/zsh/plugins/zsh-shift-select"]
	path = shell/zsh/plugins/zsh-shift-select
	url = https://github.com/jirutka/zsh-shift-select
