[submodule "dotfiles_private"]
	path = dotfiles_private
	url = ssh://git@github.com/wegotoeleven/dotfiles_private
[submodule "shell/zsh/themes/pure"]
	path = shell/zsh/themes/pure
	url = https://github.com/sindresorhus/pure.git
